Jinja2==2.7.2
Twisted==13.2.0
SQLAlchemy==0.7.9
sqlalchemy-migrate==0.7.2
psycopg2==2.5.2
python-dateutil==1.5
requests==2.2.1
-e ./buildbot/master
-e built_frontend/buildbot-codeparameter
-e built_frontend/buildbot-www
-e ./buildbot/slave